--readme README.md
--title "ActiveModelChangeset Documentation"
--charset utf-8
--markup markdown
--output-dir doc
--protected
--no-private
--hide-void-return
lib/**/*.rb
-
README.md
CHANGELOG.md
LICENSE.txt
